@font-face{
    font-family: 'poppins';
    src: url('Poppins-Light.ttf'), url('Poppins-Medium.ttf');
}

body{
    width: 370px;
    height: 100px;
    background-color: lightgray;
    margin-left: 2px;
    margin-right: 2px;
}
h1{
    font-family: 'poppins';
    font-size: 20px;
    text-align: center;
}
#yes{
    font-family: 'poppins';
    border-radius: 20px;
    width: 50px;
    background-color: white;
    color: rgb(0, 7, 40);
}
#no{
    font-family: 'poppins';
    border-radius: 20px;
    width: 50px;
    background-color: white;
    color: rgb(0, 7, 40);
}
#buttons{
    text-align: center;
}